.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
    overflow: hidden;

}

.arrowContainer {
    cursor: pointer;
    padding: 10px;
    position: absolute;
    z-index: 2;
}

.arrowContainer:hover {
    cursor: pointer;
    background-color: #f8bd11;
    border-radius: 50px;
    padding: 10px;
    transition: all 1s ease;
}

.wrapper {
    display: flex;
    z-index: 1;
    width: 500px;
    align-items: center;
    justify-content: center;
}
.imgContainer {
    position: relative;
}