@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    width: calc(30% - 50px);
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;

  }
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px 0 rgba(119, 117, 114, 0.5), 0 6px 20px 0 rgba(95, 89, 89, 0.623);

  }
  
  
  .card .pizzaimg {
    width: 100%;    
    height: 200px;
    margin: 0;
  
  }
  
  .card .pizzaname {
    margin-bottom: 5px;
    background-color: #f57c00;
    font-size: 1.2rem;
    letter-spacing: 2px;
    padding: 3px;
  }
  
  .card .desc {
    margin-bottom: 10px;
    font-style: italic;
    padding: 20px;
    color: rgb(180, 185, 185);
  }

  .card .price {
    color: #f57c00;
    font-size: 2rem;
    padding: 5px;
    margin-bottom: 5px;
    position: relative;

  }
  .card .buy {
    padding: 10px 20px;
    background-color: #ff9800;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 20px;
    width: 70%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
    position: sticky;
    bottom: 20px;
  }
  
  
  .card .buy:hover {
    background-color: #f57c00;
  }
  
  .pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.pagination .page {
    padding: 5px;
    margin: 10px;
    border: 1px solid #f57c00;

}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.categories .category {
  padding: 13px;
  width: 15%;
  margin: 10px;
  border: 1px solid #f57c00;
}

.focus {
  background-color: #f57c00;
}

.searchArea {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 40px;
  border-radius: 3px;
  border: none;
  color: #f57c00;
  font-size: 20px;
  padding: 5px;
  margin: 0 auto;}


.main {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 410px;
  height: 120px;
  background-color: rgb(104, 97, 97);
  align-items: center;
  border: 5px solid #ff9800;
}
.info{
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}

.btn {
  font-size: 2rem;
  background-color: rgb(104, 97, 97);
  border: none;
  cursor: pointer;
}

.icon {
  color: #fff;
}
.icon:hover {
   color: #f57c00;
}

.card{
  position: relative;
  width: 320px;
  height: 450px;
  background: #f8bd11;
  border-radius: 20px;
  overflow: hidden;
  margin: 73px;
}

.card:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e96822;
  clip-path: circle(180px at 90% 20%);
  transition: 0.5s ease-in-out;

}

.container .card:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.container .card:after{
  content: '';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255,255,25,0.05)
}

.imgBx{
  position: absolute;
  top: 10%;
  left: 7%;
  transform:scale(1);
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.container .card:hover .imgBx{
  top: 5%;
  transform:scale(1.1)
    
}

.img{
  position: absolute;
  top: 0;
  left: 4%;
  width: 250px;
  border-radius: 20px;

}

.contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: px;
  text-align: center;
  transition: 2s;
  z-index: 10;
}

.container .card:hover .contentBx{
    height: 225px;
  }

.card_title{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #000;
  margin: 5px;
  letter-spacing: 4px;
}

.button{
  display: inline-block;
  padding: 10px 20px;
  background: #e96822;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(60px);
  transition: 0.3s;
  margin-top: 390px;
  cursor: pointer;
  width: 100%;
  letter-spacing: 3px;
}

.container .card:hover .button{  
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;

}

.card_price {
    font-size: 1.5rem;
    color: #3d1905;
    background-color: none;
    margin: 21px;
    font-weight: 500;
}

.card_body {
  color: #272727;
}

@media screen and (max-width: 600px) {
  .card{
    position: relative;
    width: 420px;
    height: 450px;
    background: #f8bd11;
    border-radius: 20px;
    overflow: hidden;
    margin: 12px;
  }
  .categories .category {
    padding: 10px;
    width: 40%;
    margin: 10px;
    border: 1px solid #f57c00;
  }
  
}