@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.container {
    background-color: #000;
    height: 80px;
    padding: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    border-bottom: 5px solid #f26d25;
    font-family: 'Montserrat', sans-serif;
    z-index: 999;
}

.contact {
    background-color: #f26d25;
    height: 80px;
    margin-left: 80px;
    border-radius: 5px;
}

.contactmsg,
.number {
    margin-top: 5px;
    padding: 8px;
    text-align: center;
    letter-spacing: 4px;
}

.number {
    font-weight: bold;
    color: #07021a;
    margin-top: -4px;
}

.number:hover {
    color: rgb(59, 4, 4);
}

.item {
    flex: 1;
}

.item:nth-child(2) {
    flex: 3;
}

.list {
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    color: #fff;
}

.listItem {
    padding: 20px;
    margin: 45px;
    font-weight: 50;
    font-size: 1.2rem;
    text-align: center;
    border: none;
}

.listItem:hover {
    color: #131212;
    cursor: pointer;
    background-color: #f26d25;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px #f8bd11;
    border: none;
}

.userarea {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.login,
.cart,
.signin {
    padding: 20px;
    color: #f26d25;
    font-size: 1.5rem;
    cursor: pointer;
}

.cart {
    position: relative;
}

.counter {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.login:hover,
.cart:hover,
.signin:hover {
    color: #f8bd11;
}

.menuIcon {
    display: none;
}

.menuItems {
    display: flex;
    align-items: center;
}


@media screen and (max-width: 988px) {
    .menuIcon {
        display: block;
        font-size: 2rem;
        margin-left: 10px;
    }

    .menuItems {
        display: none;
    }

    .menuItems.open {
        position: absolute;
        top: 108px;
        right: 50px;
        left: 50px;
        background-color: #f26d25;
        display: flex;
        flex-direction: column;
    }

    .number {
        font-weight: bold;
        color: #07021a;
        text-align: center;
        letter-spacing: 4px;
        font-size: 16px;
    }

    .contact {
        background-color: #f26d25;
        height: 50px;
        margin-left: 80px;
        border-radius: 5px;
    }
    
    
    .contactmsg {
        display: none;
    }
}